<app-topnav></app-topnav>
<div class="container-fluid login-bg">
    <div class="container">
        <br><br>
        <h5 class="text-center lists">
            Appointments Lists 
        </h5>
        <div class="row">
            <div class="col-md-4">
                <button mat-raised-button color="primary" routerLink="/attendance"> Go Back</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            </div>
        </div>
        <br>
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="sn">
                <mat-header-cell *matHeaderCellDef><b> S.No. </b></mat-header-cell>
                <mat-cell *matCellDef="let element;let i = index;">
                    {{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="slotDate">
                <mat-header-cell *matHeaderCellDef><b> Slot Date</b></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.slotDate}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="slotSession">
                <mat-header-cell *matHeaderCellDef><b>Session</b></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <p *ngIf="element.slotSession == 1">Morning</p>
                    <p *ngIf="element.slotSession == 2">Evening</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="startTime">
                <mat-header-cell *matHeaderCellDef><b> Start Time</b></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.startTime}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endTime">
                <mat-header-cell *matHeaderCellDef><b>End Time</b></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.endTime}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pateientName">
                <mat-header-cell *matHeaderCellDef><b>Pateient Name</b></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pateientName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pateientNumber">
                <mat-header-cell *matHeaderCellDef>Mobile No</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pateientNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="appointment">
                <mat-header-cell *matHeaderCellDef><b>Status</b></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <p *ngIf="element.appointment == 'Booked'">
                        <span style="color: green;">Booked</span>
                    </p>
                    <p *ngIf="element.appointment == 'Available'">
                        <span style="color: red;">Not Booked</span>
                    </p>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>