.green-snackbar {
  background: green;
} 

.red-snackbar {
  background: #f54242;
}

.bg-color{
  background-color: pink;
}

.card{
  width: 460px;
}
  .login-bg{
    
    position: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: -webkit-fill-available;
    bottom: 0;
    width: 100%;
    color: black;
    min-width: 350px;
    overflow: hidden;
    padding: 20px;
  }
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }